<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>

<div id="search"></div>

<form action="/search/" method="get" class="navbar-form navbar-right" role="search" _lpchecked="1">
    <div class="form-group">
        <input name="q" type="text" class="form-control" placeholder="Search">
        <button type="submit" class="btn btn-default" value="Search">Search</button>
    </div>
</form>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });

        const urlParams = new URLSearchParams(window.location.search);
        const query = urlParams.get('q');

        if (query) {
            document.querySelector("#search input").value = query;
            document.querySelector("#search input").dispatchEvent(new Event('input'));
        }
    });
</script>